.drawerPaper {
  position: absolute;
  white-space: nowrap;
  width: 240px;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  box-sizing: border-box;
  border: hidden;
}

.drawerPaperClose {
  overflow-x: hidden;
  border: hidden;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  width: 56px;

  @media (min-width: 600px) {
    width: 72px;
  }
}

.toolbarIcon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
  min-height: 55px;
  background-color: var(--main-platinum-color);
  border-right: 1px solid rgba(0, 0, 0, 0.12);

  @media (min-width: 0px) and (orientation: landscape) {
    min-height: 47px;
  }

  @media (min-width: 600px) {
    min-height: 63px;
  }
}

.list {
  display: flex;
  flex-grow: 1;
}
