.root {
  height: 100vh;
}

.image {
  background-image: url(https://source.unsplash.com/random);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loginBox {
  margin: 8rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  margin: 1rem;
  background-color: var(--main-secondary-color);
}

.copyright {
  margin-top: 2rem;
}
