.appBarTypography {
  flex-grow: 1;
}
.appBar {
  color: var(--main-primary-color);
  background-color: var(--main-platinum-color);
  z-index: calc(var(--z-index-drawer) + 1);
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
    margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
.appBarShift {
  margin-left: 240;
  width: calc(100% - 240px);
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
    margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
.button {
  color: var(--main-platinum-color);
}

.menuButton {
  margin-right: 36;
}
.menuButtonHidden {
  display: none;
}
.toolbar {
  padding-right: 24; // keep right padding when drawer closed
}

.link {
  margin-right: 30px;
  color: var(--main-primary-color);

  &:hover {
    text-decoration: underline;
    color: var(--light-primary-color);
  }
}

.logos {
  // position: relative;
  // margin-right: auto;
}

.bigNavBar {
  display: none;
  @media (min-width: 600px) {
    display: block;
  }
}

.hamburgerNavBar {
  display: none;
  @media (max-width: 600px) {
    display: block;
  }
}
