.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background: #ebece8;
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px solid black;
  width: 90%;
  margin: 0 auto;
}

.logo img {
  width: 200px;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.links li {
  margin-left: 30px;
  font-size: 1.2vw;
  align-self: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navButtonContainer {
  margin-left: 30px;
}

.navButton {
  padding: 10px 40px;
  font-size: .7vw;
}

.studyPhotoContainer {
  position: relative;
  bottom: 2rem;
  width: 50%;
}

.studyPhoto {
  width: 100%;
}

.studyTextCont {
  padding-bottom: 8rem;
}

.studyTitle {
  font-size: 4vw;
  font-family: ivypresto-display,serif;
  font-weight: 400;
  font-style: italic;
  color: #3b415c;
  text-align: center;

}

.studyText {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2vw;
  font-family: 'Crimson Text', serif;
}

.applyButtonCont {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.applyButton {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 15px 50px;
  background: #737d92;
  color: #fff;
  border: none;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainSection {
  background: #222847;
  width: 100%;
  padding-top: 10rem;
}

.spaceGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 8rem;
}

.spaceImage img {
  width: 49vw;
  height: 100%;
}

.spaceBox {
  width: 49vw;
  background: #737d92;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spaceBoxCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spaceBoxTitle {
  text-transform: uppercase;
  color: #ebece8;
  font-size: 3vw;
  font-family: ivypresto-display,serif;
  font-weight: 400;
  font-style: italic;
  margin-left: 20px;
}

.spaceBoxText {
  color: #ebece8;
  font-size: 1.5vw;
  font-family: 'Crimson Text', serif;
  margin-left: 20px;
}

.clientTextCont {
  color: #ebece8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
}

.clientTitle {
  text-transform: uppercase;
  font-size: 3vw;
  text-align: center;
  font-family: ivypresto-display,serif;
  font-weight: 400;
  font-style: italic;
}

.clientText {
  font-size: 1.5vw;
  width: 60%;
  font-family: 'Crimson Text', serif;
}

.processSection {
  padding-top: 8rem;
}

.processTextCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 70%;
}

.processText {
  margin-left: 4vw;
  font-family: 'Crimson Text', serif;
}

.processTitle {
  font-size: 3vw;
  color: #222847;
  font-family: ivypresto-display,serif;
  font-weight: 400;
  font-style: italic;
}

.processContent {
  font-size: 1.5vw;
  color: #222847;

}

.worksButtonCont {
  margin-left: 4vw;
}

.worksButton {
  padding: 15px 40px;
  font-size: 1.2vw;
  background: #222847;
  color: #fff;
  border: none;
}

.lastSection {
  padding-bottom: 8rem;
}

.lastTitle {
  font-size: 4vw;
  font-family: serif;
  color: #3b415c;
  text-align: center;
  font-family: ivypresto-display,serif;
  font-weight: 400;
  font-style: italic;
}

.lastText {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2vw;
  font-family: 'Crimson Text', serif;
}

.startedButtonCont {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.startedButton {
  font-size: 1.5rem;
  padding: 15px 50px;
  background: #cabeb8;
  color: #fff;
  border: none;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
