@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
$font-stack: 'Montserrat', sans-serif;


.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-platinum-color);
  background-attachment: fixed;
}

.main {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  max-width: 100%;
  @media (max-width: 600px) {
        // font-size: 50%;
        width: 50%;
      }
}

.headerbutton {
  align-self: center;
  padding-left: 10px;

  @media (max-width: 600px) {
        font-size: 50% ;
        // width: 50%;
      }
}

.header {
  font-family: $font-stack;

  @media (max-width: 600px) {
        text-align: center;
        // box-sizing: 50%;
        // font-size: 1em;
        width: 100%;
        // text-size-adjust: 50%;
        padding: 0;
      }
}

.h2 {
    font-size: 2.5rem;
    @media (max-width: 600px) {
      font-size: 1.5rem ;
      // width: 50%;
      padding: 0;
      // text-size-adjust: 50%;
      padding: 10px;
    }
  }

.processtitle {
  font-family: $font-stack;
  font-size: 3.2em;
  letter-spacing: .08em;
  @media (max-width: 600px) {
    font-size: 2em;
    text-align: center;
  }
}

.process {
  font-family: $font-stack;
  flex-grow: 1;
  width: 100%;
  margin-top: 50px;
  margin-inline-end: 150px;
  padding-inline-end: 150px;
  color: var(--main-platinum-color);
  background-color: var(--main-primary-color);
  @media (max-width: 600px) {
    padding-inline: 0;
  }
  
}

.processtext {
  margin-bottom: 50px;
  margin-left: 40px;
  font-family: $font-stack;
}

.processfont {
  font-size: 2.2em;
  @media (max-width: 600px) {
    font-size: 1em;
  }
}
.processbutton {
  margin-bottom: 50px;

  @media (max-width: 900px) {
        font-size: 50%;
        margin: 0;
        padding: 0;
        // width: 200%;
      }
}

.blocktext {
  font-family: $font-stack;
  font-weight: 600;
  font-size: 1.6em;
  letter-spacing: .05em;
  display: block;
  text-align: start;
  padding-top: 10px;
  margin-block-end: 1em;
  margin-inline-start: 70px;
  margin-inline-end: 70px;

  @media (max-width: 600px) {
        font-size: 1rem;
        margin: 0;
        padding: 20px 0 0 0;
        // width: 50%;
      }
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  padding-bottom: 110px;
  padding-top: 100px;
  display: 'flex';
  text-align: 'center';
  flex-direction: 'column';
  background-color: var(--main-platinum-color);
}

.footer img {
  margin-left: 0.5rem;
}

.title {
  font-family: $font-stack;
  font-size: 3.2em;
  padding-left: 40px;
  letter-spacing: .08em;
  @media (max-width: 600px) {
    padding: 0;
    font-size: 2.2em;
  }
}

.grid {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-platinum-color);
  font-family: $font-stack;

  @media (max-width: 600px) {
        // font-size: 50%;
        width: 50%;
        height: 50%;
        .first {order: 1;}
        .second {order: 2;}
        .third {order: 4;}
        .fourth {order: 3;}
        .fifth {order: 5;}
        .sixth {order: 6;}
        .seventh {order: 8;}
        .eighth {order: 7;}
      }
  
}




// .grid:nth-of-type(3) {order: 4;}
// .grid:nth-child(4n+3) {
//   @media (min-width: 768px) {
//   order: 4;
//   }
// }

.leftspace {
  background-size: cover;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 30px;

  @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        padding: 0 0 20px 0;
        // font-size: 50%;
        // width: 50%;
        // height: 100%;
      }
}

.rightspace {
  // unicode-bidi: bidi-override;
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;

  @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        padding: 0 0 20px 0;
        // order: 1;
        // font-size: 50%;
        // width: 50%;
        // height: 100%;
      }
}

.logo {
  // padding-top: 10px;
  // height: 3.5em;
  padding-left: 40px;
  // margin-top: 20px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@mixin respond-phone {
    @media (max-width: 600px) {@content};
    }
  @mixin repond ($breakpoint) {
    @if $breakpoint == phone {
      @media (max-width: 600px) {@content};
    }
    @if $breakpoint == tab-port {
      @media (max-width: 900px) {@content};
    }
    @if $breakpoint == tab-land {
      @media (max-width: 1200px) {@content};
    }
    @if $breakpoint == big-desktop {
      @media (min-width: 1800px) {@content};
    }
  };