.root {
  height: 100vh;
}
.box {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signUpBox {
  width: 100%; // Fix IE11 issue.
  margin-top: 3rem;
}
.avatar {
  margin: 1rem;
  background-color: var(--main-secondary-color);
}
.copyright {
  margin-top: 2rem;
}
