@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
$font-stack: 'Montserrat', sans-serif;

.copyright {
  // padding-left: 45px;
  font-size: 12px;
  font-weight: bold;
  color: var(--main-primary-color);
  // font-family: $font-stack;
  a {
    color: var(--main-primary-color);
  }
}
