@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
$font-stack: 'Montserrat', sans-serif;

.root {
  padding: 2em;
  margin: auto;
  border: 2px solid var(--main-primary-color);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 100%;
  // width: 100%;
  padding-left: 60px;
  padding-top: 30px;
  font-family: $font-stack;
}
.grid {
  // padding: 2em;
  padding: 30px 0 20px 15px;
  display: flex;
  transform: none;
}
.text {
  padding-right: 50px;
  width: 25%;
}

.title {
  padding-top: 30px;
  font: 2.5em bolder;
  font-family: $font-stack;
}

.paragraph {
  font-size: 1em;
  font-family: $font-stack;
  transform: translateX(10px);
}

.iconLeft {
  transform: translateX(-30px);
  width: 100px;
  height: 100px;
}

.iconRight {
  transform: translateX(20px);
  width: 100px;
  height: 100px;
}

.button {
  align-self: flex-end;
}

.background {
  background: var(--main-platinum-color);
}

.rotateLeft {
  transform: rotateY(360deg);
}

.rotateRight {
  transform: rotateY(180deg);
}

.leftToRight {
  direction: ltr;
}

.rightToLeft {
  direction: rtl;
}
