@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
$font-stack: 'Montserrat', sans-serif;

.root {
  padding: 2em;
  // margin: auto;
  border: 2px solid var(--main-primary-color);
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  height: 100%;
  // width: 100%;
  padding-left: 60px;
  padding-top: 30px;
  font-family: $font-stack;
  // margin-inline: 30px;
  @media (max-width: 600px) {
    all: unset;

  }
}
.container {
  margin-inline: 20px;
}

.grid {
  // padding: 2em;
  padding: 30px 0 20px 0px;
  display: flex;
  transform: none;
}
.text {
  // position: absolute;
  padding-right: 50px;
  // width: 25%;
  color: #303455;
  // @media (max-width: 600px) {
  //   padding-left: 20px;
  //   padding-right: 30px;

  // }
}

.title {
  padding-top: 30px;
  font: 2.2em bolder;
  font-weight: 600;
  font-family: $font-stack;
  color: #303455;

}

.paragraph {
  font-size: 1em;
  font-weight: 600;
  font-family: $font-stack;
  transform: translateX(10px);
  color: #303455;

}

.iconLeft {
  transform: translateX(-30px);
  width: 100px;
  height: 100px;
  // @media (max-width: 600px) {
  //   padding-left: 20px;
  //   padding-right: 30px;

  // }
}

.iconRight {
  transform: translateX(10px);
  width: 100px;
  height: 100px;
  // @media (max-width: 600px) {
  //   padding-left: 20px;
  //   padding-right: 70px;

  // }
}

.button {
  align-self: flex-end;
}

.background {
  background: var(--main-platinum-color);
}

.rotateLeft {
  transform: rotateY(360deg);
  // unicode-bidi: bidi-override;
}

.rotateRight {
  transform: rotateY(180deg);
  // unicode-bidi: bidi-override;
}

.leftToRight {
  direction: ltr;
  // unicode-bidi: bidi-override;
}

.rightToLeft {
  direction: rtl;
  // unicode-bidi: ;
  // unicode-bidi: bidi-override;
}
