.box {
  flex-grow: 1;
  height: 100vh;
}
.container {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  padding-right: 24px;
  padding-left: 24px;
}

.content {
  flex: 1 1 auto;
  height: 100%;
}

.open {
  padding-left: 264px;
}

.closed {
  margin-left: 56px;

  @media (min-width: 600px) {
    margin-left: 72px;
  }
}

.wrapper {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;

  padding-top: 72px;
  @media (min-width: 0px), (orientation: landscape) {
    padding-top: 64px;
  }
  @media (min-width: 600px) {
    padding-top: 80px;
  }
}
