.box {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
}
.container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 15rem;
}

.appBarSpacer {
  min-height: 56;
  @media (min-width: 0px), (orientation: landscape) {
    min-height: 48;
  }
  @media (min-width: 600px) {
    min-height: 64;
  }
}
