.root {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.box {
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 100%;
}
.container {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
}

.open {
  padding-left: 240px;
}

.closed {
  padding-left: 56px;

  @media (min-width: 600px) {
    padding-left: 72px;
  }
}

.wrapper {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;

  padding-top: 56px;
  @media (min-width: 0px), (orientation: landscape) {
    padding-top: 48px;
  }
  @media (min-width: 600px) {
    padding-top: 64px;
  }
}
