.formBox {
  margin-top: 1em;
  width: 100%;
}
.submitButton {
  margin-bottom: 2em;
}
.loginGrid {
  justify-content: flex-end;
}
.link {
  text-decoration: underline;
}
.TermsAndCondition {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
